### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [45]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [46]:
#Use length of screen name to find total players and then create a data frame"
total_players = len(purchase_data_df["SN"].value_counts())
total = pd.DataFrame({"Total Players":[total_players]})
total

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:
#Create variables for unique items, avg price, purchases and revenue
unique_items = len((purchase_data_df["Item ID"]).unique())
avg_price = (purchase_data_df["Price"]).mean()
purchases = (purchase_data_df["Purchase ID"]).count()
total_revenue = (purchase_data_df["Price"]).sum()
#Create df with vaules
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                         "Average Price":[avg_price],
                         "Number of Purchases":[purchases],
                         "Total Revenue":[total_revenue]})
summary_df.style.format ({'Average Price': "${:,.2f}",
                        'Total Revenue':'${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [50]:
#Pull all gender stats
gender_stats = purchase_data_df.groupby("Gender")

#percentage of players
percent_players = total_gender / total_players * 100

#Count screen names by gender
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nunique.html
total_gender = gender_stats.nunique()["SN"]


#create dataframe for gender demographics
gender_dem_df = pd.DataFrame({"Total Count": total_gender, "Percentage of Players": percent_players})

gender_dem_df.index.name = None

gender_dem_df.sort_values(["Total Count"],ascending=False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
#purchase count, avg pur price, total pur price, total pur valu, avg total pur per person,, gender
#count total purchases by gender
purchase_count = gender_stats["Purchase ID"].count()

#avg purchase price by gender
avg_purchase = gender_stats["Price"].mean()

#total by gender
total_purchase = gender_stats["Price"].sum()

#avg purchase per person
avg_person = total_purchase / total_gender

#datafram
gender_dem_df = pd.DataFrame({"Purchase Count": purchase_count,
                             "Average Purchase Price": avg_purchase,
                             "Total Purchase Value": total_purchase,
                             "Avg Total Purchase per Person": avg_person})

gender_dem_df.index.name = "Gender"

gender_dem_df.style.format({"Total Purchase Value":"${:,.2f}",
                           "Average Purchase Price":"${:,.2f}",
                           "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [64]:
#bins
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#categorize
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],age_bins, labels=age_groups)
purchase_data_df

#new dataframe grouped
age_df = purchase_data_df.groupby("Age Group")

#count players
total_count = age_df["SN"].nunique()

#percent of players
age_percent = (total_count/total_players) * 100

#format a new dataframe
age_dem_df = pd.DataFrame({"Total Count":total_count, "Percentage of Players":age_percent})

age_dem_df.index.name = None

age_dem_df.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [65]:
#purchase count
age_purchase_count = age_df["Purchase ID"].count()

#avg purchase price
avg_price = age_df["Price"].mean()

#total purchase value
total_value = age_df["Price"].sum()

#avg total purchase per person
avg_pperson = total_value / total_count

#dataframe
age_dem_df = pd.DataFrame({"Purchase Count": age_purchase_count,
                             "Average Purchase Price": avg_price,
                             "Total Purchase Value": total_value,
                             "Avg Total Purchase per Person": avg_pperson})

age_dem_df.index.name = "Age Ranges"

age_dem_df.style.format({"Total Purchase Value":"${:,.2f}",
                           "Average Purchase Price":"${:,.2f}",
                           "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [66]:
#group by screen name
spend_stats = purchase_data_df.groupby("SN")

#purchase count
pc_spender = spend_stats["Purchase ID"].count()

#avg purchase price
avg_spender = spend_stats["Price"].mean()

#total purchase value
total_spender = spend_stats["Price"].sum()

#dataframe
top_spenders_df = pd.DataFrame({"Purchase Count": pc_spender,
                               "Average Purchase Price": avg_spender,
                               "Total Purchase Value":total_spender})

format_spend = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()
format_spend.style.format({"Average Purchase Price":"${:,.2f}",
                          "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [67]:
pop_items = purchase_data_df[["Item ID", "Item Name", "Price"]]

#group
item_stats = pop_items.groupby(["Item ID","Item Name"])

#count 
item_count = item_stats["Price"].count()

#total value
item_value = item_stats["Price"].sum()

#item price
item_price = item_value / item_count


#dataframe
pop_items_df = pd.DataFrame({"Purchase Count":item_count,
                            "Item Price":item_price,
                            "Total Purchase Value":item_value})
pop_format = pop_items_df.sort_values(["Purchase Count"],ascending=False).head()
pop_format.style.format({"Item Price":"${:,.2f}",
                        "Total Purchase Value":"${:,.2f}"})

In [68]:
##Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [69]:
pop_format = pop_items_df.sort_values(["Purchase Count"],ascending=False).head()
pop_format.style.format({"Item Price":"${:,.2f}",
                        "Total Purchase Value":"${:,.2f}"})

In [70]:
#how many items for txt file
id_data= len(purchase_data_df["Item ID"].value_counts())
id_data

179